body{
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Comic Neue', cursive;
    background: url('img/Grupo 2.png');
    background-size: 100%;
    color: #F7F7F9;
    box-sizing: border-box;
}

header h1{
    font-family: 'Permanent Marker', cursive;
    color: #FCB101;
}

.div-input{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}

header .div-input button{
    background: none;
    color:white;
    border: none;
}

.input{
    width:100%;
    background: none;
    outline: none;
    border:none;
    color: #F7F7F9;
}

main h1{
    font-family: 'Permanent Marker', cursive;
    color: #F7F7F9;
}

@media screen and (max-width: 800px){

    h1{
        font-size: 28px;
    }

    h3{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }

    .char-desc{
        display: flex;
        flex-direction: column;
    }

    .thumbnail{
        margin-right:auto;
        margin-left:auto;
    }
}



